body {
	width: 100%;
	height: 100%;
	background-color: #fff;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
}

* {
	box-sizing: border-box;
}


.landing-page_wrapper {
	max-width: 90%;
	width: 90%;
	padding: 3rem;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .landing-page_wrapper {
		max-width: 90%;
		width: 90%;
		padding: 1rem 0;
    }
}

.landing-page_image {
	width: 50%;
	min-width: 300px;
	display: inline-block;
}

.landing-page_image img {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.landing-page_image {
		width: 100%;
	}
}

.landing-page_text {
	width: 50%;
	min-width: 250px;
	display: inline-block;
	padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
	.landing-page_text {
		width: 100%;
	}
}