/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

$dark-brown: 			rgb(96,58,28);

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

body.home {
  background: url('../images/bg-image.jpg') no-repeat;
  margin-top: 0;
}

/*
TYPO
*/
.entry-content {
h1, h2, h3, h4{
	color: $red!important;
	margin-top: 25px;
	margin-bottom: 15px;
	font-family: $caveat;
}
}


/*
NAVIGATION
*/


.nav ul {
	background: $orange;
	li a {
		color: #fff;
	}
}

.navbar {
	i {
		color: $red;
		font-size: 16px;
		font-weight: bold;
	}
}

.phone-contact {
	color: $red;
	padding: 2px 5px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin-top: 25px;
}


#inner-content {
	margin-top: 120px;
}

.entry-content {
	padding-bottom: 1.5em;
	a {
		color: $red;
		&:hover {
			color: darken($red, 15%);
		}
	}
}

.hero-header {
  background: url('../images/header.png') no-repeat center;
  height: 800px;
  background-size: contain;
}

.hentry {
  background: none;
	border: 2px solid $orange!important;
	border-radius: 0!important;
}

.schild-top {
	background: url('../images/schild-top.png') no-repeat center;
	left: 35%;
	top: 60%;
	width: 296px;
	padding: 10px 20px 155px 20px;
	position: relative;
	text-align: center;
	font-family: $caveat;
	h2 {
		font-size: 32;
		margin-bottom: 20px;
		line-height: 1.2;
		color: $dark-brown;
	}

	p {
		margin-top:15px;
		font-size: 22px;
	}
	.opening,
	.iva-bh-oc-text {
		font-size: 25px;
	}
}

.schild-bg {
	background: url('../images/schild-bg.png') no-repeat center;
	background-size: contain;
	padding: 35px 100px;
	width: 532px;
	height: 200px;
	color: $dark-brown;
	text-align: center;
	font-family: $caveat;
	font-size: 55px;
	position: relative;
}

.section-newsstream {
	background: url('../images/pfad-section2.svg') no-repeat center;
	background-size: contain;
	padding: 15px 20px;
	h2 {
		top: 55px;
		left: 45%;
		transform: rotate(6deg);
	}
	.news-frontpage {
		padding-top: 25px;
		h3 {
			color: #337ab7;
		}
	}
	.facebook-content {
		background: #fff;
		border: 10px solid $orange;
		padding: 15px 75px;
		margin-bottom: 150px;
		.fts-album-photos-wrap {
			max-width: 300px;
		}
		.fts-jal-fb-picture {
    display: none;
		}
		.fts-jal-fb-user-name a {
			color: $red;
			&:hover {
				color: darken($red, 15%);
			}
		}
	}
}

.white-bg {
	background: #fff;
}
.center {
	text-align: center;
}
.image {
	height: 350px;
	width: 300px;
	background: #fff;
}
.centered {
	margin: 0 auto;
}

.blue-border {
	border: 10px solid $blue;
}

.red-border {
	border: 10px solid $red;
}

.w-200 {
	width: 200px;
}

.btn-primary {
	a {
	color: #fff!important;
	}
  background-color: $red!important;
	border: none!important;
}

.gallery {
	margin-top: 55px;
}
.section-offers {
	background-color: #598D3B;
}

.offer {
	padding: 25px 25px 50px 25px;
	h2 {
	}
	a {
		color: #fff!important;
	}
}

.offer-header .negative-top-margin {
	margin-top: -80px;
}

.offer .white-bg {

	padding: 15px;
	.btn {
		margin-top: 15px;
		font-size: 24px;
	}
	//height: 620px;
}

.negative-top-margin {
	margin-top: -120px;
}
.section-bildergalerie {
	background: url('../images/pfad-section3.svg') no-repeat center;
	background-size: contain;
	padding-bottom: 100px;
	h2 {
		transform: rotate(-6deg);
	}
}


/* social icons */
.social-icons .fa {
	font-size: 18px;
  background: orange;
	margin-top: 15px;
}


.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}




/*********************
OFF CANVAS
*********************/


label {
  cursor: pointer;
}
label:focus {
  outline: none;
}
.content-offcanvas {
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 75px 20px 15px 5px;
}

.offcanvas-page {
  position: fixed;
  top: 0;
  left: 0;
  background: $orange;
  width: 350px;
  height: 100%;
  transform: translate3d(-340px, 0, 0);
  transition: transform 0.35s;
	z-index: 99;
	padding: 15px 20px;
	padding-top: 65px;
	color: #fff;
	font-size: 14px;
	h2 {
		font-family: $caveat;
	}

}
.offcanvas-page label.menu-toggle,
.menu-checkbox:checked + .offcanvas-page label.menu-toggle,
.offcanvas-page label.menu-toggle.is-scrolling:hover {
  position: fixed;
  right: -175px;
  width: 175px;
  top: 50%;
  line-height: 24px;
  display: block;
  padding: 8px 15px;
	text-align: right;
  background: $orange;
	font-size: 20px;
	-webkit-transition: all 1s ease; /* Firefox */
	-moz-transition: all 1s ease; /* WebKit */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease; /* Standard */
}
.offcanvas-page label.menu-toggle.is-scrolling {
	right: -90px;
  width: 100px;
  line-height: 1;
  font-size: 10px;
	-webkit-transition: all 1s ease; /* Firefox */
	-moz-transition: all 1s ease; /* WebKit */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease; /* Standard */
}
.offcanvas-page ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}
.offcanvas-page ul li a, .offcanvas-page ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: #000;
}
.offcanvas-page ul li a:hover, .offcanvas-page ul li label:hover {
  color: #666;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.offcanvas-page .offcanvas-page label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .offcanvas-page {
  transform: translate3d(0, 0, 0);
}

.offcanvas-page {
	.ivabh-desc {
		margin-top: 25px;
	}
	.ivabh-businesshours p {
	border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
	}
	.iva_bh_shortcode {
		border-top: 1px solid #fff;
		padding-top: 15px;
		margin-top: 25px;
	}
}

p.small-text {
	font-size: 10px;
  line-height: 5px;
}

.page-id-15803 .offcanvas-page {
	display: none;
}

.offcanvas-page .pricingTable {
	margin-top: 30px;
	span.smallCaption {
		font-size: 10px;
		display: block;
	}
	tr:first-child {
    vertical-align: top;
	}
	tr.spacer {
		height: 15px;
	}
}


/*********************
GALLERY
*********************/

.carousel-showmanymoveone
{
  .carousel-control
  {
    width: 4%;
    background-image:none;

    &.left
    {
      margin-left:15px;
    }

    &.right
    {
      margin-right:15px;
    }
  }

  .cloneditem-1,
  .cloneditem-2,
  .cloneditem-3
  {
    display: none;
  }

  .carousel-inner
  {
    @media all and (min-width: 768px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        {
          transform: translate3d(50%, 0, 0);
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        {
          transform: translate3d(-50%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -50%;
      }

      > .active.right,
      > .next
      {
        left:  50%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-1
      {
        display: block;
      }
    }

    @media all and (min-width: 992px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        {
          transform: translate3d(25%, 0, 0);
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        {
          transform: translate3d(-25%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -25%;
      }

      > .active.right,
      > .next
      {
        left:  25%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-2,
      .cloneditem-3
      {
        display: block;
      }
    }
  }
}

/*********************
RESPONSIVE FOR GOOGLE MAPS
*********************/


.googlemaps {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}

.googlemaps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $red;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
		color: $red;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	color: $red!important;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

	#logo {
		margin: 0.75em 0;

		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

nav {
	border-bottom: 0;
	margin: 0;

	.logo {
		height: 65px;
		margin: 15px 0px;
	}

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

.navbar-default {
	background-color: rgba(0,0,0,0.0)!important;
	border: none!important;
	background: url('../images/bg_menu.png') repeat-x;
	background-size: contain;
	color: $orange;
	height: 60px;
}

.navbar-default .navbar-nav>li>a {
	color: $red!important;
	font-size: 16px;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
}

.navbar-default .navbar-nav>li {
	padding-top: 10px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			border: 1px solid $border-color;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}


input[type="number"].daytime {
	display:inline-block;
	width: 75px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
	background: lighten($orange, 45%);
	color: $orange;
}
.wpcf7-submit{
	background: $red;
	border: none;
	padding: 10px 15px;
	color: #fff;
}

.wpcf7-submit:hover{
	background: darken($red, 5%);
}

.widgettitle {
	color: $red;
	font-weight: 300;
	font-family: $caveat;
	font-size: 22px;
}

@media only screen and (min-width: 768px) {
.widgettitle {
    border-bottom: 1px solid $red!important;
    margin-bottom: 0.75em;
 }
}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

.sidebar {
	a {
		color: $red;
		&:hover {
			color: darken($red, 15%);
		}
	}
	i {
		margin-right: 15px;
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $red;
	color: $light-gray;
}

.footer .logo {
	width: 150px;
	margin-top: 45px;
}

.footer .nav>li>a {
	padding: 5px 0 5px 0;
}

.footer .nav>li>a:hover {
	background: none;
	color: darken($red, 30%);
}

.footer p {
	margin-top: 25px;
}

.footer .copyright {
	font-size: 12px;
	margin-top: 35px;
	float: right;
}

.footer .qtranxs-lang-menu a {
	padding-top: 0!important;
	font-size: 18px;
}

.footer h4, .footer .qtranxs-lang-menu a {
	margin-top: 25px;
	font-weight: 300;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.8);
}

.footer .qtranxs-lang-menu a {
	margin-top: 20px;
}

.footer .footer-nav li{
	float: none;
	a {
		text-decoration: none;
	}
}

.footer a {
	color: #fff;
	text-decoration: underline;
}

.footer .nav ul {
	background: $orange;
	a {
		margin-top: 10px;
	}
}

.footer .desc {
	max-width: 350px;
}

.footer .nav-footer {
	margin-top: 15px;
}

.member img {
	max-width: 150px;
	float: left;
	margin: 0 10px;
}
	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

@media (min-width: 768px) and (max-width: 991px) {

		.phone-contact {
			display: none;
		}

		#menu-item-16018 {
			display: none;
		}
}



@media only screen and (max-width: 768px) {

	body.home {
		background-size: 150%;
	}

	.hero-header {
		background: url('../images/header.png') no-repeat top center;
		height: 430px;
		background-size: contain;
	}

	nav .logo {
		    margin: 10px 25px;
				z-index: 99;
	}

	.navbar-collapse {
		background: #fff;
		margin-top: -30px;
	}

	.navbar-toggle {
		border: none!important;
		margin-right: 25px!important;
		margin-top: 12px!important;
		.icon-bar {
		color: $orange!important;
		}
	}

	.navbar-default .navbar-toggle .icon-bar {
    background-color: $red!important;
		}

	.menu-toggle {
		top: 85px!important;
	}

	.schild-top {
		left: 15%;
	}

	.schild-bg {
		width: 280px;
		font-size: 34px;
		padding: 55px 30px;
	}

	.section-newsstream {
		padding: 15px 5px;
		h2 {
			left: 15%;
		}
		.facebook-content {
		padding: 15px 15px;
	}
}

.phone-contact {
	margin-top: 18px;
	margin-right: 30px;
}

.offer .white-bg .btn{
	font-size: 16px;
}

}
